/*selector {
	Property: value;

}*/

h2 {
	color: red;
}
p {
	color: black;
	font-size: 20px;
}

span {
	font-size: 5rem;
}
.boxmodel {
	border: 10px solid pink;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
	width: 60px;
	height: 60px;
}
