/*selector {
	Property: value;

}*/
/** {
	text-align: right;
}
*/
header {
		text-align: center;
		font-weight: bolder;
		background-color: white;
}
li {
	list-style: none;

	display: inline-block;
}

body {
	background-image: url(background2.jpeg);
	background-size: cover; /*cover whole site*/
}

h2 {
	color: #AA6539;
	text-align: center;
	border: 5px solid rgba(255, 176, 0, 0.3);
	cursor: pointer;
}
p {
	color: white;
	/*text-transform: uppercase;*/
	text-align: center;
	line-height: 30px;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	/*font-family: "Times New Roman", "Arial"*/
	/*text-decoration: underline;*/
	border: 5px solid rgba(255, 176, 0, 0.3);
}

img {
	float: right;
}

.webtext:first-child {
	border: 5px dashed green
}

#div1 {
	background: rgba(0,0,255,0.2);
}

#div2 {
	background: rgba(0,255,0,0.2);	
}
footer {
	/*clear: both;*/
	color: white;
	text-align: center;
}