body,

html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
font-size: 3rem;
color:white;
text-transform: uppercase;
}
hr{
	border-color: orange;
	border-width: 3px;
	max-width: 60px;
}



.buffer{
	height: 2rem;
}
.btn {
	font-weight: 700px;
	border-radius: 200px;
	text-transform: uppercase;
}

.btn-primary{
	background-color: red;
	border-color: red;

}

.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 3px;

}

.btn-xl{
	padding: 1rem 2rem;
}