
body{
	margin-left: 0;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: fantasy;
	font size: 3em;
	border-bottom: 2px solid pink;	
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	margin-top: 10px;
	box-shadow: 0px 10px 10px #88888888;
}

img {
	width: 600px;
	height: 400px;
	margin: 10px;
	transition: all .3s;
}

img:hover {
	transform: scale(1.1);
}
